.center__wrapper{
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 15px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media screen and (max-width: 768px){
    .center__wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  
  @media screen and (max-width: 425px){
    .center__wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 320px){
    .center__wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }